<div class="lt-row row">
  <div class="lt-col col s12">
    <h2 class="lt-title center">Users Voice</h2>
  </div>
</div>

<div class="lt-row row">
  <div class="col s12">
    <div class="lt-owl-carousel owl-carousel owl-theme">
        <div class="item">
          <div class="lt-owl-carousel-item item">
            <div class="lt-testimonial-container">
              <div class="lt-testimonial-content flow-text">
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit fugiat quia doloribus obcaecati libero eum doloremque neque amet fugit magni</span>
              </div>
              <div class="lt-testimonial-author">
                <div class="lt-testimonial-author-img"><img class="circle responsive-img" src="{{ 'assets/img/pages/home/extension/img-01.jpg'|theme }}" alt="user"></div>
                <div class="lt-testimonial-author-name">John Smith</div>
                <div class="lt-testimonial-author-position">CEO of NVLex</div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="lt-owl-carousel-item item">
            <div class="lt-testimonial-container">
              <div class="lt-testimonial-content flow-text">
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit fugiat quia doloribus obcaecati libero eum doloremque neque amet fugit magni</span>
              </div>
              <div class="lt-testimonial-author">
                <div class="lt-testimonial-author-img"><img class="circle responsive-img" src="{{ 'assets/img/pages/home/extension/img-02.jpg'|theme }}" alt="user"></div>
                <div class="lt-testimonial-author-name">Robert Brown</div>
                <div class="lt-testimonial-author-position">Manager of Desynz</div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="lt-owl-carousel-item item">
            <div class="lt-testimonial-container">
              <div class="lt-testimonial-content flow-text">
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit fugiat quia doloribus obcaecati libero eum doloremque neque amet fugit magni</span>
              </div>
              <div class="lt-testimonial-author">
                <div class="lt-testimonial-author-img"><img class="circle responsive-img" src="{{ 'assets/img/pages/home/extension/img-03.jpg'|theme }}" alt="user"></div>
                <div class="lt-testimonial-author-name">James Powell</div>
                <div class="lt-testimonial-author-position">CEO of iQooQ</div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
