<div class="center">
  <div class="lt-row row">
    <div class="lt-col col s12">
      <h2 class="lt-title">Octaskin Features</h2>
      <p class="flow-text">Octaskin comes with the sample pages to help you get started faster. You can change the text and images and you're good to go.</p>
    </div>
  </div>

  <div class="lt-vertical-spacer"></div>

  <div class="lt-row row">
    <div class="lt-col col m4 s12">
      <i class="large pe-7s-edit primary-color-text"></i>
      <h5>Customizable</h5>
      <p>Develop a system of design that allows for a unified user experience across all their products on any platform.</p>
    </div>
    <div class="lt-col col m4 s12">
      <i class="large pe-7s-science primary-color-text"></i>
      <h5>Modern</h5>
      <p>Develop a system of design that allows for a unified user experience across all their products on any platform.</p>
    </div>
    <div class="lt-col col m4 s12">
      <i class="large pe-7s-exapnd2 primary-color-text"></i>
      <h5>Responsive</h5>
      <p>Develop a system of design that allows for a unified user experience across all their products on any platform.</p>
    </div>
  </div>

  <div class="lt-row row">
    <div class="lt-col col m4 s12">
      <i class="large pe-7s-ribbon primary-color-text"></i>
      <h5>Stylish</h5>
      <p>Develop a system of design that allows for a unified user experience across all their products on any platform.</p>
    </div>
    <div class="lt-col col m4 s12">
      <i class="large pe-7s-like2 primary-color-text"></i>
      <h5>Great Support</h5>
      <p>Develop a system of design that allows for a unified user experience across all their products on any platform.</p>
    </div>
    <div class="lt-col col m4 s12">
      <i class="large pe-7s-note2 primary-color-text"></i>
      <h5>Documented</h5>
      <p>Develop a system of design that allows for a unified user experience across all their products on any platform.</p>
    </div>
  </div>
</div>
