<div class="lt-row row">
  <div class="lt-col col s12">
    <div class="lt-slider slider fullscreen">
      <ul class="slides">
        <li>
          <img src="{{ 'assets/img/pages/home/slideshow/img-01.jpg'|theme }}" alt="image">
          <div class="caption center-align">
            <h2 class="lt-slider-title">Build a Professional Website</h2>
            <h5 class="lt-slider-subtitle">with OctoberCMS &amp; Materialize</h5>
            <div class="lt-slider-button">
              <a href="https://octobercms.com/theme/laratify-octobercms-octaskin" target="_blank" class="waves-effect waves-light btn-large primary-color-background">Download<i class="material-icons right">input</i></a>
            </div>
            <div class="lt-slider-links">
              <a href="https://m.do.co/c/396efaba7c20" target="_blank">View Server</a> or <a href="https://www.laratify.com/" target="_blank">Contact Us</a>
            </div>
          </div>
        </li>
        <li>
          <img src="{{ 'assets/img/pages/home/slideshow/img-02.jpg'|theme }}" alt="image">
          <div class="caption center-align">
            <h2 class="lt-slider-title">Modern Responsive Design</h2>
            <h5 class="lt-slider-subtitle">Mobile Friendly Out of the Box</h5>
            <div class="lt-slider-button">
              <a href="https://octobercms.com/theme/laratify-octobercms-octaskin" target="_blank" class="waves-effect waves-light btn-large primary-color-background">Download<i class="material-icons right">input</i></a>
            </div>
            <div class="lt-slider-links">
              <a href="https://m.do.co/c/396efaba7c20" target="_blank">View Server</a> or <a href="https://www.laratify.com/" target="_blank">Contact Us</a>
            </div>
          </div>
        </li>
        <li>
          <img src="{{ 'assets/img/pages/home/slideshow/img-03.jpg'|theme }}" alt="image">
          <div class="caption center-align">
            <h2 class="lt-slider-title">Free &amp; Open Source</h2>
            <h5 class="lt-slider-subtitle">Sky is the Limit</h5>
            <div class="lt-slider-button">
              <a href="https://octobercms.com/theme/laratify-octobercms-octaskin" target="_blank" class="waves-effect waves-light btn-large primary-color-background">Download<i class="material-icons right">input</i></a>
            </div>
            <div class="lt-slider-links">
              <a href="https://m.do.co/c/396efaba7c20" target="_blank">View Server</a> or <a href="https://www.laratify.com/" target="_blank">Contact Us</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
