<div class="lt-row row">
  <div class="center">
    <div class="lt-col col l3 m6 s12">
      <a href="https://laravel.com/" target="_blank"><img class="lt-grayscale-opacity-hover-filter responsive-img" src="{{ 'assets/img/pages/home/utility/img-01.png'|theme }}" alt="Laravel"></a>
    </div>
    <div class="lt-col col l3 m6 s12">
      <a href="https://octobercms.com/" target="_blank"><img class="lt-grayscale-opacity-hover-filter responsive-img" src="{{ 'assets/img/pages/home/utility/img-02.png'|theme }}" alt="OctoberCMS"></a>
    </div>
    <div class="lt-col col l3 m6 s12">
      <a href="http://materializecss.com/" target="_blank"><img class="lt-grayscale-opacity-hover-filter responsive-img" src="{{ 'assets/img/pages/home/utility/img-03.png'|theme }}" alt="Materialize CSS"></a>
    </div>
    <div class="lt-col col l3 m6 s12">
    <a href="https://github.com/" target="_blank">  <img class="lt-grayscale-opacity-hover-filter responsive-img" src="{{ 'assets/img/pages/home/utility/img-04.png'|theme }}" alt="Github"></a>
    </div>
  </div>
</div>
