#lt-navigation {
  nav {
    background-color: $lt-navigation-background-color;
    color: $lt-navigation-text-color;    
  }
}

#lt-slideshow {
  background-color: $lt-slideshow-background-color;
  color: $lt-slideshow-text-color;
}

#lt-header {
  background-color: $lt-header-background-color;
  color: $lt-header-text-color;
}

#lt-feature {
  background-color: $lt-feature-background-color;
  color: $lt-feature-text-color;
}

#lt-utility {
  background-color: $lt-utility-background-color;
  color: $lt-utility-text-color;
}

#lt-mainpage {
  background-color: $lt-mainpage-background-color;
  color: $lt-mainpage-text-color;
}

#lt-bottom {
  background-color: $lt-bottom-background-color;
  color: $lt-bottom-text-color;
}

#lt-extension {
  background-color: $lt-extension-background-color;
  color: $lt-extension-text-color;
}

#lt-footer {
  background-color: $lt-footer-background-color;
  color: $lt-footer-text-color;
}

#lt-copyright {
  background-color: $lt-copyright-background-color;
  color: $lt-copyright-text-color;
}
