<section id="lt-section-expanded">
  <div class="row no-margin-all center">
    <div class="container">
      <div class="col m12 s12">
        <h3 class="lt-section-title">Users Voice</h3>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container">
      <div class="col l12 s12">
        <div id="lt-carousel" class="carousel carousel-slider center" data-indicators="true">
          <div class="carousel-item" href="#one!">
            <div class="lt-testimonial-container">
              <div class="lt-testimonial-content flow-text grey-text">
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit fugiat quia doloribus obcaecati libero eum doloremque neque amet fugit magni</span>
              </div>
              <div class="lt-testimonial-author">
                <div class="lt-testimonial-author-name">John Smith</div>
                <div class="lt-testimonial-author-position">CEO of NVLex</div>
              </div>
            </div>
          </div>
          <div class="carousel-item" href="#two!">
            <div class="lt-testimonial-container">
              <div class="lt-testimonial-content flow-text grey-text">
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit fugiat quia doloribus obcaecati libero eum doloremque neque amet fugit magni</span>
              </div>
              <div class="lt-testimonial-author">
                <div class="lt-testimonial-author-name">Robert Brown</div>
                <div class="lt-testimonial-author-position">Manager of Desynz</div>
              </div>
            </div>
          </div>
          <div class="carousel-item" href="#three!">
            <div class="lt-testimonial-container">
              <div class="lt-testimonial-content flow-text grey-text">
                <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit fugiat quia doloribus obcaecati libero eum doloremque neque amet fugit magni</span>
              </div>
              <div class="lt-testimonial-author">
                <div class="lt-testimonial-author-name">James Powell</div>
                <div class="lt-testimonial-author-position">CEO of iQooQ</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
