<section id="lt-section-extension">
  <div class="row no-margin-all center grey lighten-3">
    <div class="container">
      <div class="lt-content clearfix">
        <div class="col">
          <h3 class="lt-section-title">Our Team</h3>
          <p class="grey-text">OctoberCMS is a productivity platform, it saves your most valuable resource with helpful tools and a vast collection of plugins. Working with OctoberCMS compliments your usual workflow, easily manage changes and deploy updates with Git or SVN. Easily manage any aspect of your site using bespoke tools that require little or no explanation.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row grey lighten-3">
    <div class="container">
      <div class="lt-content no-padding-top clearfix">
        <div class="col l3 m6 s12">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="{{ 'assets/images/tom.jpg'|theme }}">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Tom D.<i class="material-icons right">more_vert</i></span>
              <p>
                <a href="#"><i class="blue-text text-darken-4 fa fa-facebook-square"></i></a>
                <a href="#"><i class="blue-text fa fa-twitter-square"></i></a>
                <a href="#"><i class="red-text fa fa-google-plus-square"></i></a>
              </p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Tom D.<i class="material-icons right">close</i></span>
              <p>Here is some more info about this person that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>
        <div class="col l3 m6 s12">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="{{ 'assets/images/jane.jpg'|theme }}">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Jane T.<i class="material-icons right">more_vert</i></span>
              <p>
                <a href="#"><i class="blue-text text-darken-4 fa fa-facebook-square"></i></a>
                <a href="#"><i class="blue-text fa fa-twitter-square"></i></a>
                <a href="#"><i class="red-text fa fa-google-plus-square"></i></a>
              </p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Jane T.<i class="material-icons right">close</i></span>
              <p>Here is some more info about this person that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>
        <div class="col l3 m6 s12">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="{{ 'assets/images/john.jpg'|theme }}">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">John B.<i class="material-icons right">more_vert</i></span>
              <p>
                <a href="#"><i class="blue-text text-darken-4 fa fa-facebook-square"></i></a>
                <a href="#"><i class="blue-text fa fa-twitter-square"></i></a>
                <a href="#"><i class="red-text fa fa-google-plus-square"></i></a>
              </p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">John B.<i class="material-icons right">close</i></span>
              <p>Here is some more info about this person that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>
        <div class="col l3 m6 s12">
          <div class="card">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator" src="{{ 'assets/images/cath.jpg'|theme }}">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4">Cath Q.<i class="material-icons right">more_vert</i></span>
              <p>
                <a href="#"><i class="blue-text text-darken-4 fa fa-facebook-square"></i></a>
                <a href="#"><i class="blue-text fa fa-twitter-square"></i></a>
                <a href="#"><i class="red-text fa fa-google-plus-square"></i></a>
              </p>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4">Cath Q.<i class="material-icons right">close</i></span>
              <p>Here is some more info about this person that is only revealed once clicked on.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
