<section id="lt-section-feature">
  <div class="center-align">
    <div class="row">
      <div class="container">
        <div class="col">
          <h3 class="lt-section-title">Octaskin Features</h3>
          <p class="flow-text grey-text">Created and designed by Google, Material Design is a design language that combines the classic principles of successful design along with innovation and technology.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="container">
        <div class="col s12 m4">
          <i class="large material-icons orange-text text-darken-4">assessment</i>
          <h5>Customizable</h5>
          <p class="grey-text">Develop a system of design that allows for a unified user experience across all their products on any platform.</p>
        </div>
        <div class="col s12 m4">
          <i class="large material-icons orange-text text-darken-4">stars</i>
          <h5>Modern</h5>
          <p class="grey-text">Develop a system of design that allows for a unified user experience across all their products on any platform.</p>
        </div>
        <div class="col s12 m4">
          <i class="large material-icons orange-text text-darken-4">settings_overscan</i>
          <h5>Responsive</h5>
          <p class="grey-text">Develop a system of design that allows for a unified user experience across all their products on any platform.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="container">
        <div class="col s12 m4">
          <i class="large material-icons orange-text text-darken-4">invert_colors</i>
          <h5>Stylish</h5>
          <p class="grey-text">Develop a system of design that allows for a unified user experience across all their products on any platform.</p>
        </div>
        <div class="col s12 m4">
          <i class="large material-icons orange-text text-darken-4">question_answer</i>
          <h5>Great Support</h5>
          <p class="grey-text">Develop a system of design that allows for a unified user experience across all their products on any platform.</p>
        </div>
        <div class="col s12 m4">
          <i class="large material-icons orange-text text-darken-4">receipt</i>
          <h5>Documented</h5>
          <p class="grey-text">Develop a system of design that allows for a unified user experience across all their products on any platform.</p>
        </div>
      </div>
    </div>
  </div>
</section>
