<div class="lt-footer-content">
  <div class="row no-margin-all blue-grey darken-2 white-text">
    <div class="container">
      <div class="lt-content">
        <div class="col m5 s12">
          <p class="flow-text blue-grey-text text-lighten-2">Subscribe to get themes updates and exclusive offers.</p>
        </div>
        <div class="col m7 s12">
          <div class="lt-subscribe-form">
            <form class="form" action="https://gumroad.com/follow_from_embed_form" method="post">
              <div class="input-field col m7 s12">
                <input name="seller_id" value="6437504786757" type="hidden">
                <input id="email" type="email" class="validate">
                <label for="email">Your Email Address</label>
              </div>
              <div class="input-field col m5 s12">
                <button class="waves-effect waves-light btn-large orange darken-4" type="submit" name="action">Follow <i class="material-icons right">email</i></button>
              </div>
            </form>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
