<div class="navbar-fixed">
  <nav class="orange darken-4">
    <div class="nav-wrapper">
      <div class="container">
        <a href="{{ 'home'|page }}" class="brand-logo white-text">Octaskin</a>
        <a href="#" data-activates="mobile-menu" id="lt-mobile-toggle" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li class="{% if this.page.id == 'account' %}active{% endif %}"><a href="{{ 'account'|page }}">Account</a></li>
          <li class="{% if this.page.id == 'blog' %}active{% endif %}"><a href="{{ 'blog'|page }}">Blog</a></li>
          <li class="{% if this.page.id == 'forum' %}active{% endif %}"><a href="{{ 'forum'|page }}">Forum</a></li>
          {% if user %}
              <li><a href="#" data-request="onLogout">Logout</a></li>
          {% endif %}
        </ul>
        <ul class="side-nav" id="mobile-menu">
          <li class="{% if this.page.id == 'account' %}active{% endif %}"><a href="{{ 'account'|page }}">Account</a></li>
          <li class="{% if this.page.id == 'blog' %}active{% endif %}"><a href="{{ 'blog'|page }}">Blog</a></li>
          <li class="{% if this.page.id == 'forum' %}active{% endif %}"><a href="{{ 'forum'|page }}">Forum</a></li>
          {% if user %}
              <li><a href="#" data-request="onLogout">Logout</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</div>
