<section id="lt-section-showcase">
  <div class="row">
    <div id="lt-slider" class="slider fullscreen">
      <ul class="slides">
        <li>
          <img src="{{ 'assets/images/slide-01.jpg'|theme }}">
          <div class="caption center-align">
            <h2 class="lt-slide-title">Build a Professional Website</h2>
            <h5 class="lt-slide-subtitle">with OctoberCMS &amp; Materialize</h5>
            <div class="lt-slide-button">
              <a class="waves-effect waves-light btn-large orange darken-4 white-text">Download</a>
            </div>
          </div>
        </li>
        <li>
          <img src="{{ 'assets/images/slide-02.jpg'|theme }}">
          <div class="caption center-align">
            <h2 class="lt-slide-title">Modern Responsive Design</h2>
            <h5 class="lt-slide-subtitle">Mobile Friendly Out of the Box</h5>
            <div class="lt-slide-button">
              <a class="waves-effect waves-light btn-large orange darken-4 white-text">Download</a>
            </div>
          </div>
        </li>
        <li>
          <img src="{{ 'assets/images/slide-03.jpg'|theme }}">
          <div class="caption center-align">
            <h2 class="lt-slide-title">Free &amp; Open Source</h2>
            <h5 class="lt-slide-subtitle">Sky is the Limit</h5>
            <div class="lt-slide-button">
              <a class="waves-effect waves-light btn-large orange darken-4 white-text">Download</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
