<div class="lt-social-content">
  <div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large orange darken-4">
      <i class="large material-icons">thumb_up</i>
    </a>
    <ul>
      <li><a class="btn-floating blue darken-4" href="https://www.facebook.com/laratify"><i class="fa fa-facebook"></i></a></li>
      <li><a class="btn-floating blue" href="https://twitter.com/laratify"><i class="fa fa-twitter"></i></a></li>
      <li><a class="btn-floating orange darken-3" href="https://octobercms.com/author/laratify"><i class="fa fa-leaf fa-rotate-270"></i></a></li>
      <li><a class="btn-floating black" href="https://github.com/laratify/octobercms-octaskin"><i class="fa fa-github"></i></a></li>
    </ul>
  </div>
</div>
