<section id="lt-section-top">
  <div class="row grey lighten-3 center no-margin-all">
    <div class="container">
      <div class="lt-content clearfix lt-tech-img">
        <div class="col l3 m6 s12">
          <a href="https://laravel.com/"><img src="{{ 'assets/images/laravel.png'|theme }}" alt="Laravel"></a>
        </div>
        <div class="col l3 m6 s12">
          <a href="https://octobercms.com/"><img src="{{ 'assets/images/octobercms.png'|theme }}" alt="OctoberCMS"></a>
        </div>
        <div class="col l3 m6 s12">
          <a href="http://materializecss.com/"><img src="{{ 'assets/images/materialize.png'|theme }}" alt="Materialize CSS"></a>
        </div>
        <div class="col l3 m6 s12">
        <a href="https://github.com/">  <img src="{{ 'assets/images/github.png'|theme }}" alt="Github"></a>
        </div>
      </div>
    </div>
  </div>
</section>
