<section id="lt-section-utility">
  <div class="row no-margin-all">
    <div class="col m6 s12 no-padding-all">
      <div class="parallax-container">
        <div class="parallax"><img src="{{ 'assets/images/parallax-01.jpg'|theme }}"></div>
      </div>
    </div>
    <div class="col m6 s12">
      <div class="super-large-padding center">
        <h3 class="lt-section-title">Materialize CSS</h3>

        <div class="row">
          <div class="col s12">
            <ul id="lt-materializecss-tab" class="tabs">
              <li class="tab col s4"><a class="active"  href="#lt-materializecss-tab1">Grid</a></li>
              <li class="tab col s4"><a href="#lt-materializecss-tab2">Typography</a></li>
              <li class="tab col s4"><a href="#lt-materializecss-tab3">Color</a></li>
            </ul>
          </div>
          <div id="lt-materializecss-tab1" class="col s12">
            <p class="grey-text">Materialize CSS is using a standard 12 column fluid responsive grid system to help us layout the page in an easy fashion.</p>
          </div>
          <div id="lt-materializecss-tab2" class="col s12">
            <p class="grey-text">Materialize CSS provides some basic styling on header tags. In the example, you can see the the 6 header tags' different sizes.</p>
          </div>
          <div id="lt-materializecss-tab3" class="col s12">
            <p class="grey-text">Each of Materialize CSS colors is defined with a base color class and an optional lighten or darken class.</p>
          </div>
        </div>

        <a class="waves-effect waves-light btn-large modal-trigger orange darken-4 white-text" href="#lt-video-materializecss">Watch <i class="material-icons right">play_circle_filled</i></a>
        <div id="lt-video-materializecss" class="modal">
          <div class="modal-content">
            <div class="video-container">
              <iframe src="https://www.youtube.com/embed/Q8TXgCzxEnw?rel=0" frameborder="0"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row no-margin-all">
    <div class="col m6 s12">
      <div class="super-large-padding center">
        <h3 class="lt-section-title">OctoberCMS</h3>

        <div class="row">
          <div class="col s12">
            <ul id="lt-octobercms-tab" class="tabs">
              <li class="tab col s4"><a class="active"  href="#lt-octobercms-tab1">Modern</a></li>
              <li class="tab col s4"><a href="#lt-octobercms-tab2">Universal</a></li>
              <li class="tab col s4"><a href="#lt-octobercms-tab3">Reliable</a></li>
            </ul>
          </div>
          <div id="lt-octobercms-tab1" class="col s12">
            <p class="grey-text">OctoberCMS uses all the newest features of the PHP language and is based on the best powerful Laravel framework.</p>
          </div>
          <div id="lt-octobercms-tab2" class="col s12">
            <p class="grey-text">We can perform different tasks with OctoberCMS - from simple websites to complex web applications.</p>
          </div>
          <div id="lt-octobercms-tab3" class="col s12">
            <p class="grey-text">The OctoberCMS core is reliable and won't break your application or website after a software update.</p>
          </div>
        </div>

        <a class="waves-effect waves-light btn-large modal-trigger orange darken-4 white-text" href="#lt-video-octobercms">Watch <i class="material-icons right">play_circle_filled</i></a>
        <div id="lt-video-octobercms" class="modal">
          <div class="modal-content">
            <div class="video-container">
              <iframe src="https://player.vimeo.com/video/79963873" frameborder="0"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col m6 s12 no-padding-all">
      <div class="parallax-container">
        <div class="parallax"><img src="{{ 'assets/images/parallax-02.jpg'|theme }}"></div>
      </div>
    </div>
  </div>
</section>
